{% set url = path('recette_show', {'slug': recette.slug}) %}


<div class="col">


    <div class="card bg-light">
        <img src="/uploads/{{ recette.imgRecette}}" class="img-fluid mx-auto" style="height:300px; object-fit: contain;" >
        <h1 class="text-center">Nom de la recette: </h1>   <p class="text-center">{{ recette.titre }}</p>
    </div>
    <div class="card-header text-center">
        {% if recette.commentaires | length > 0 %}
            {% include 'partials/rating.html.twig' with {'rating': recette.avgRatings }%} ({{recette.comments | length }} avis)
        {% else %}
            <small>Pas encore noté</small>
        {% endif %}
    </div>


    <div class="card bg-light">
        <h1>Description : </h1>  {{ recette.description }}
    </div>






    <a href="{{url}}" class="btn btn-secondary">En savoir plus</a>


</div>

