{% extends 'base.html.twig' %}

{% block title %}Produit : {{ produit.nom }}{% endblock %}

{% block body %}

        <div class="container">
            {% if produit.image %}
                <img src="/uploads/{{ produit.image }}">

            {% else %}
            <img src="http://placehold.it/300x300">
            {% endif %}



            <h1>{{produit.nom}}</h1>
            <p>{{produit.nomlatin}}</p>
            <p>{{ produit.categorie }}</p>
            <p>{{ produit.effets }}</p>
            <p>{{ produit.description }}</p>
            <p>{{ produit.slug }}</p>

            <p>Recettes associées :</p>
            {% for produit in produit.getRecettesAssociees() %}
                {% set url = path('recette_show', {'slug': produit.getSlug()}) %}
                <a href="{{url}}" class="btn btn-secondary">{{ produit.getTitre() }}</a>
            {% endfor %}


        </div>
    <div class="container">



    </div>

{% endblock %}